#to{
    color: aqua;
    display: flex;
}
li{
    padding-left: 30px;
    padding-right: 30px;
    background-color: blue;
    list-style: none;
}
li:hover{
    background-color: brown;
}
#con{
    display: none;
}
#cha:hover #con{
    display: block;
    position: absolute;
    margin-left: -65px;
}

