* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header {
    background: url("banner.jpg") no-repeat center/cover;
    height: 200px;
    text-align: center;
    color: white;
    position: relative;
}

header h1 {
    padding-top: 20px;
    font-size: 32px;
    letter-spacing: 2px;
}

/* MENU */
nav {
    margin-top: 40px;
}

nav a {
    text-decoration: none;
    color: black;
    background: rgba(255,255,255,0.6);
    padding: 10px 25px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    transition: 0.3s;
}

nav a:hover {
    background: white;
    transform: scale(1.05);
}

/* LAYOUT */
.container {
    display: flex;
    padding: 20px;
    background: #888;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: limegreen;
    padding: 10px;
}

.sidebar img {
    width: 100%;
    margin-bottom: 15px;
    border: 3px solid black;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
    background: white;
}

.content h2 {
    margin-bottom: 10px;
}

.content p {
    margin-bottom: 20px;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    background: lightgreen;
}

th {
    background: #9cff00;
    padding: 12px;
    border: 2px solid white;
}

td {
    padding: 10px;
    border: 2px solid white;
}